.home {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    height: 100%;
    font-size: 1rem;
    color: var(--text-1);
}
.home h1 {
    font-size: 4rem;
}
.youAreConected {
    margin-top: 10px;
    color: var(--fx-1);
}
.choix {
    text-align: center;
}
.choix li {
    /* padding: 1px 20px; */
}
