.home {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    height: 100%;
    font-size: 1rem;
    color: var(--text-1);
    margin: 0 0 0 0;
}
.home h1 {
    font-size: 4rem;
}
.youAreConected {
    margin-top: 10px;
    color: var(--fx-1);
    text-shadow: 0 0 10px var(--fx-1);
}
.choix {
    text-align: center;
    margin: 40px 0 0;
}
.choix li {
    padding: 10px 20px;
    margin: 0 20px;
    border: 1px solid var(--fx-1);
    transition: 0.2s;
}
.choix li:hover {
    background: var(--fx-1);
    box-shadow: 0 0 10px var(--fx-1);
}
