.alimentChoix {
    user-select: none;
    cursor: pointer;
    margin: 10px 0;
    list-style-type: none;
    font-size: 1rem;
}
.alimentListContainer {
    margin: 20px 0;
}
.alimentListContainer h2 {
    color: var(--background-1);
}
