.dataBaseContainer {
}
.ajouterPage {
    margin: 30px 0 10px;
}
.ajouterHeader {
    text-align: center;
    font-size: 0.7rem;
}

.buttonAjouter {
    margin: 20px auto;
    max-width: 50%;
    display: flex;
}
.active {
    background: red;
}
