.repasContainer {
    display: grid;
    gap: 5px;
    user-select: none;
    margin-top: 30px;
    padding: 10px 0 50px;
}
.ajouterList {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    background-color: var(--fx-1);
    text-align: center;
    padding: 0;
    overflow: scroll;
    z-index: 5000;
    list-style-type: none;
}
.ajouterList > h5 {
    font-size: 3rem;
    margin-bottom: 40px;
    user-select: none;
    cursor: pointer;
}
.ajouterList > p {
    font-size: 1.3rem;
    color: var(--background-3);
    text-decoration: underline 1px solid;
}
.open {
    padding: 10px;
}
@media (min-width: 650px) {
    .ajouterList {
        width: 60vw;
    }
}
