.header {
    display: grid;
    grid-template-columns: auto 1fr;
    place-items: end;
    align-items: center;
    font-size: 2rem;
    background-color: var(--background-3);
    color: var(--text-1);
    padding: 5px 0;
    margin-bottom: 15px;
    width: 100%;
    box-shadow: 0 0 10px #f1f1fa5e;
}
.header > a {
    display: flex;
    align-items: center;
    padding-left: 15px;
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}
.nav a {
    padding: 1px 10px;
    margin: 0 10px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0);
}
.linkActive {
    border: 1px solid var(--fx-1) !important;
}
.nav a:hover {
    border: 1px solid var(--fx-1);
    border-radius: 8px;
    box-shadow: 0 0 10px var(--fx-1);
}

.burger {
    display: none;
}
@media (max-width: 600px) {
    .burger {
        display: block;
        z-index: 10;
        position: absolute;
        top: 20px;
        right: 20px;
        background: var(--background-1);
        font-size: 3rem;
        user-select: none;
        padding: 5px 20px;
        border-radius: 20px;
        border: 1px solid var(--text-1);
        box-shadow: 0 0 10px var(--background-2);
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    .burger:active {
        background: var(--background-2);
        border: 1px solid var(--fx-1);
    }
    .nav {
        flex-direction: column;
        width: 70%;
        position: absolute;
        top: -100%;
        background-color: var(--background-2);
        padding: 100px 10px 10px;
        box-shadow: 0 0 10px #2e2e2e;
        border-radius: 8px;
        transition: 0.2s;
    }
    .navActive {
        top: 0;
    }
    .nav a {
        margin: 10px 0;
        width: 90%;
        text-align: center;
    }
    .nav a:hover {
        border: 1px solid rgba(0, 0, 0, 0);
        /* border-radius: 8px; */
        box-shadow: none;
    }
    .nav a:active {
        border: 1px solid var(--fx-1);
        border-radius: 8px;
        box-shadow: 0 0 10px var(--fx-1);
        opacity: 0.8;
    }
    .nav :last-child {
        margin-top: 20px;
        width: 100%;
    }
}
