.header {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    place-items: end;
    align-items: center;
    font-size: 2rem;
    background-color: var(--background-3);
    color: var(--text-1);
    padding: 5px 0;
    margin-bottom: 15px;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 10px #f1f1fa5e;
    z-index: 90;
}
.header > a {
    display: flex;
    align-items: center;
    padding-left: 15px;
}
.burger {
    display: block;
    z-index: 10;
    position: absolute;
    top: 20px;
    right: 20px;
    background: var(--background-1);
    font-size: 3rem;
    user-select: none;
    padding: 5px 20px;
    border-radius: 20px;
    border: 1px solid var(--text-1);
    box-shadow: 0 0 10px var(--background-2);
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.burger:active {
    background: var(--background-2);
    border: 1px solid var(--fx-1);
}
.nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr 1fr 1fr 1fr;
    align-items: center;
    transition: 0.2s;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: -1000%;
    background-color: var(--background-2);
    padding: 100px 30px 30px;
    box-shadow: 0 0 10px #2e2e2e;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.navActive {
    top: 0;
    height: 100vh;
    /* position: fixed; */
}
.navTitle {
    display: block;
    text-align: center;
    font-size: 3rem;
    color: var(--background-1);
    text-shadow: 0 0 30px white;
    user-select: none;
}
.nav a {
    background: var(--background-3);
    box-shadow: 0 0 1px var(--text-1);
    padding: 10px 10px;
    width: 100%;
    text-align: center;
    border-radius: 8px;
}
.nav a:hover {
    border-bottom: 3px solid var(--fx-1);
    box-shadow: 0 0 10px var(--fx-1);
    border-radius: 8px;
}
.nav a:active {
    border-radius: 8px;
    box-shadow: 0 0 10px var(--fx-1);
    opacity: 0.8;
}
.nav :last-child {
    width: 100%;
    background: var(--background-3);
    box-shadow: 0 0 10px var(--text-1);
}
.linkActive {
    border-bottom: 3px solid var(--fx-1);
}

@media (min-width: 770px) {
    .burger {
        display: none;
    }
    .nav {
        grid-template-columns: 2fr 2fr 2fr 1fr;
        gap: 50px;
        grid-template-rows: 1fr;
        transition: 0.2s;
        background-color: inherit;
        justify-content: center;
        top: 15px;
        padding: 0;
        padding: 0 20px 0 200px;
        font-size: 1rem;
    }
    .nav :last-child {
        margin-top: 0;
    }
    .navTitle {
        display: none;
    }
}
