.formContainer:before {
    content: "";
    border-top: 1px solid var(--fx-1);
    width: 20%;
    position: relative;
    box-shadow: 0 0 10px var(--fx-1);
    top: -20px;
    transform: translateX(75%);
}

.formContainer button {
    margin-top: 20px;
}
.error {
    margin-top: 5px;
    font-size: 0.8rem;
    color: var(--fx-1);
}
