:root {
    --background-1: #333b4a;
    --background-2: #1d2637;
    --background-3: #25282e;
    --text-1: #ededed;
    --fx-1: #b17474;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--background-1);
    color: var(--text-1);
    height: 100vh;
}

#root {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}
#root:fullscreen {
    overflow: scroll !important;
    position: inherit;
    top: inherit;
    right: inherit;
    bottom: inherit;
    left: inherit;
}
:not(:root):fullscreen::backdrop {
    background: inherit;
}
form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

form :last-child {
    margin-top: 20px;
}
