.ajouterAlimentFormContainer {
    width: 60%;
    margin: 0 auto;
}
.ajouterAlimentFormContainer form {
    gap: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: end;
    font-size: 0.7rem;
    text-align: center;
}
.ajouterAlimentFormContainer form input {
    text-align: center;
}
.alimentContainer {
    grid-column: 1 / span 4;
    font-size: 0.9rem;
}
.kcalContainer {
}
.glucideContainer {
}
.lipideContainer {
}
.proteineContainer {
}
.buttonContainer {
    grid-column: 2 / span 2;
}
.buttonContainer > button {
    width: 100%;
}
.messageAddAliment {
    color: var(--fx-1);
    text-align: center;
    margin-top: 10px;
    font-size: 0.6rem;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}
/* .messageAddAliment > strong {
    color: var(--fx-1);
} */
@media (max-width: 400px) {
    .ajouterAlimentFormContainer {
        width: 90%;
    }
}
